
security:
  jwt:
    token:
      secret-key: 53cr37
      expire-length: 3600000

spring:
  datasource:
    password: 123456
    url: jdbc:postgresql://localhost:5432/testdb
    username: postgres
  flyway:
    baselineOnMigrate: true

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: 'true'
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true

springdoc:
  paths-to-match: /api/**
  swagger-ui:
    use-root-path: true